---
import QualMethodLayout from '../../../../components/QualMethodLayout.astro';
---

<QualMethodLayout title="Projective technique" description="Qualitative projective technique">
  <h1>Projective technique</h1>
  <p>Would you recommend X to someone else?</p>
</QualMethodLayout>
