---
import QualMethodLayout from '../../../../components/QualMethodLayout.astro';
---

<QualMethodLayout title="Sentence completion" description="Qualitative sentence completion technique">
  <h1>Sentence completion</h1>
  <p>I love X because &hellip;</p>
</QualMethodLayout>
